
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div#app {
  display: flex;
  flex-direction: row;

  div.right {
    display: flex;
    flex-direction: column;
  }
}

#map {
  height: 500px;
  width: 500px;
  /* border-radius: 100%; */
}